<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<section>
  <div id="profile-img">
    <% profiles.forEach(profile => { %>
      <a href="/profiles/<%= profile._id %>">
        <div id="profile-name">
          <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
          <div>
            <h2><%= profile.name %></h2>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>