<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
  </div>
  <h1><%= profileOwner ? 'Your' : profile.name %>'s thrill collection!</h1>
  <% if (profileOwner) { %>
    <h2>Add a Park to Your Bucket List</h2>
    <form action="/profiles/<%= profile._id %>/toVisit" method="POST">
      <label>
        Amusement Park:
        <input type="text" name="park" autocomplete="off">
      </label>
      <button type="submit">Add Future Adventure</button>
    </form>
  <% } %>
  <% if (profile.toVisit.length) { %>
    <h2>
      <%= profileOwner ? 'Your' : `${profile.name}'s` %>
      Bucket List of Future Thrills
    </h2>
    <% profile.toVisit.forEach(park => { %>
      <h3>
        <%= toVisit.park %>
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= profileOwner ? "You haven't" : `${profile.name} hasn't` %>
      created a Bucket List.
    </h2>
  <% } %>
</main>

<%- include('../partials/footer') %>