<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<section>
  <div>
    <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
  </div>
  <h1><%= profileOwner ? 'Your' : `${profile.name}'s` %> future thrill collection!</h1>
  <% if (profileOwner) { %>
    <h2>Add a Park to Your Bucket List</h2>
    <form action="/profiles/<%= profile._id %>/toVisit" method="POST">
      <label>
        Amusement Park:
        <input id="bucket-list-item" type="text" name="park" autocomplete="off">
      </label>
      <button class="del-list-btn" id="bucket-list-btn" type="submit">
        Add Future Adventure
      </button>
    </form>
  <% } %>
  <% if (profile.toVisit.length) { %>
    <h2>
      <%= profileOwner ? 'Your' : `${profile.name}'s` %>
      Bucket List of Future Thrills
    </h2>
    <ul>
      <% profile.toVisit.forEach(park => { %>
        <li>🎢 <%= park.park %></li>
        <% if (profileOwner) { %>
          <form 
            class="delete-bucket-list"
            action="/profiles/toVisit/<%= park._id %>?_method=DELETE"
            method="POST"
          >
            <button
              class="del-list-btn"
              type="submit">Delete</button>
          </form>
        <% } %>
      <% }) %>
    </ul>
  <% } else { %>
    <h2>
      <%= profileOwner ? "You haven't" : `${profile.name} hasn't` %>
      created a Bucket List.
    </h2>
  <% } %>
  </section>

<%- include('../partials/footer') %>
