<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/parks/index.css">
<%- include('../partials/nav') %>

<section class="park-index">
  <h1>Visited Parks</h1>
  <% if (user) { %>
    <h2>Add a park below!</h2>
    <form class="new-park" action="/parks" method="POST">
      <label>
        Amusement Park:
        <input class="addPark" type="text" name="park" autocomplete="off">
      </label>
      <label>
        Favorite Ride:
        <input class="addPark" type="text" name="ride" autocomplete="off">
      </label>
      <button id="addNewPark" type="submit">Add Park</button>
    </form>
  <% } %>
  <h3>All Adventures</h3>
  <ul>
    <% parks.forEach(park => { %>
      <li>
        🎢 At 
        <a href="/parks/<%= park._id %>"><%= park.park %></a> 
        my favorite ride was <%= park.ride %>. 🎢
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>