<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Visited Parks</h1>
  <% if (user) { %>
  <h2>Add a park below!</h2>
  <form action="/parks" method="POST">
    <label>
      Amusement Park:
      <input type="text" name="park" autocomplete="off">
    </label>
    <label>
      Favorite Ride:
      <input type="text" name="ride" autocomplete="off">
    </label>
    <button type="submit">Add Park</button>
  </form>
  <% } %>
  <h3>All Adventures</h3>
  <ul>
    <% parks.forEach(park => { %>
      <li>
        At 
        <a href="/parks/<%= park._id %>"><%= park.park %></a> 
        my favorite ride was <%= park.ride %>.
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>