<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h2><%= park.owner.name %>'s Adventure</h2>
  <p>At <%= park.park %> my favorite ride was <%= park.ride %></p>
</section>

<%- include('../partials/footer') %>